<div class="nav">Treemap Generator</div>

<div style="display: flex;">
  <div class="form">
    <form [formGroup]="form" (submit)="onClick()">
      <label>Data</label>
      <json-editor [options]="editorOptions" formControlName="data">
      </json-editor>
      <label for="numOfRows">Row Number</label>
      <input id="numOfRows" type="number" formControlName="row" min="1"/>
      <br>
      <button type="submit">Generate</button>
    </form>
    <div *ngIf="form.errors?.tooLengthy" class="error-message">
      Array length cannot be more than 50.
    </div>
    <div *ngIf="form.errors?.nameError" class="error-message">
      Name must be string and less than 50 characters.
    </div>
    <div *ngIf="form.errors?.weightError" class="error-message">
      Weight must be integer.
    </div>
    <div *ngIf="form.errors?.rowError" class="error-message">
      Row must be less than or equal to array length.
    </div>

  </div>

  <br/>
  <div class="result">
    <b>Result</b>
    <div class="treemap">
      <div class="row" *ngFor="let row of arr" [ngStyle]="{height: rowHeight + '%'}">
        <div class="tree" *ngFor="let item of row"
             [ngStyle]="{'background-color': item.value > 0 ? 'lightgreen' : 'lightcoral', width: item.width + '%'}">
          <div>{{item.name}}<br/>{{item.value | percent: '1.0-2'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

